/* Author: Michelle Sawley
Date: Oct 3, 2023 
100% accurate as of Oct 23, 2023! */

/* week4: step 7,8 */
/* <div>BLOCK element */
#content {
    text-align: center;
    max-width: 1600px;
    /* week4: step 9 */
margin: 0 auto;
}

/* week4: step 9: centering page */
/* <block> centered  adjusting WIDTH & MARGIN <in-line> centered adjusting text-align values*/
nav {text-align: center;
}
/* week4: step 10: centering more elements */
#hero-msg{
    text-align: center;
}
#hero-img{width: 100%;
}
h1 {text-align: center;
}
h4 {text-align: center;
}
.button-box {text-align: center;
}
main {text-align: center;
}
section{text-align:center
}

/* week4: step 12: add background colors to the following elements */
/* [#ffffff]	[#2bc6de]	[#ffc677]	[#4f4f4e] */
body{
    background-color: #ffffff;
}
header{
    background-color: #2bc6de;
}
nav a:hover{
    background-color: #ffc677;
    color: #ffffff;
}
.book{
    background-color: #ffffff;
}
.book:hover{
    background-color: #2bc6de;
}
.join:hover{background-color: #2bc6de;
}
#background{
    background-color:#ffffff ;
    height: 725px;
}
.msg{background-color:#4f4f4e;
}
footer{background-color:#2bc6de;
}


/* week4: step 14: foreground colors */
nav a{background-color: #2bc6de;
    color:#ffffff;
    text-decoration: none;
}
.home-title{background-color:#ffc677;
    color: #ffffff;
}
h4{background-color:#ffffff;
    color: #4f4f4e;
}
.book{background-color: #ffc677;
    color: #ffffff;
}
.join{background-color: #4f4f4e;
    color: #ffffff;
    text-decoration: none;
}
.book:hover{background-color: #4f4f4e;
    color:#ffffff;
}
.join:hover{background-color:#4f4f4e;
    color: #ffffff;
}
.msg h2{background-color: #4f4f4e;
    color: #ffffff;
}
.msg p{background-color: #4f4f4e;
    color: #ffffff;
}
footer{background-color: #2bc6de;
    color: #4f4f4e;
    font-size: 1.2em;
}
footer a{background-color: #2bc6de;
    color: #4f4f4e;
    text-decoration: none;
}
footer a:hover{background-color: #ffffff;
    color: #ffffff;
}

/* week4: step 14: add widths */
/* .hero-img set width on line 21  */
#logo_link{width: 80px;
}
.icon{width: 80px; 
}
footer p a:hover{
text-decoration: underline;
}
/* week4: step 5: ommit underlined links */
