/*INDEX’S CSS FILE 
Author: Michelle Sawley
Date: Oct 2, 2023
Title: Example 1 & 2, Week 4
Purpose: To add style to week 4/practice.html */

img{
    /* width: 80%; */
        width: 30%; 

}

p{
    width: 80%;
    margin: 0 auto;
}


/*example 2 */

a{
    font-size: 1.5 em;
}

/* this adds [BLUE] BORDERS to all elements */
* { `
    border: 2px solid blue;
}
/* centering all elements */
body {
    text-align: center;

}
/* "You may have already had the h1 rule with a color property and that's fine just leave it and add the text-align: center to the h1 rule set." https://byui-wdd.github.io/wdd130/activities/w04-block-inline-practice.html */

h1 {
    text-align: center;

}

nav, footer {
    text-align: center;
}

/* "If we try to center the img element the same way, with text-align: center, it won't work because there is no extra space inside it's container. Text-align center will center the content of its container. With images we want to center the container itself. To give it some extra space, let's have it take the whole amount available and change its display property to display: block. Now to center it we can center the container itself with margin: 0 auto. Remember, however, if the image itself takes up 100% of the space it won't appear to center either. So it's a good idea to give it a width and use margin: 0 auto together."
*/
img {
    width: 80%;
    display: block;
    margin: 0 auto;
} 

/* "Now the image should be centered. The zero in margin: 0 auto, refers to the top and bottom margin and the auto will automatically place an equal amount of space on the right and left to center it.

Let's center the paragraph container, that is inside main, in the same way. Give it a width of 80% and give it a margin: 0 auto." */

main p {
    width: 80%;
    margin: 0 auto;
}

/* We didn't have to put display: block because p elements are already block-level elements.

If we want to also center the content of the container, we could add a text-align: center as well and the paragraph would center inside the container as well. */

main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* I like it left aligned inside the container, so I won't add the text-align: center. But you can leave it if you like.

If I wanted to add some more margin to the top and bottom of my paragraph I can increase the zero and add a pixel size. */

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
/* Now we can see how to center containers and content of containers. And the elements inside our main section are centered nicely.

Let's take off the borders if you haven't already. Delete the following rule-set: */

* {
    border: 2px solid rgb(126, 180, 255);
    /*I changed the border to a different color because it looks better than before. */
}
/* So there we have a few different ways to center items on your page keeping in mind the difference between block and inline elements. */
