/* Author:michelle sawley
Date: Oct 2, 2023
Purpose: to learn selectors in CSS better */


/* example 1 */
nav, footer{
    background-color: steelblue;
    color: white;
    padding: 10px; /*now, I won't be using this method as I prefer percentages */
}

/* example 2 */

/* " In this example, we will look at selecting elements that are decendants of other elements.

We have two paragraphs in our HTML. But we want to target only the paragraph that is inside the footer, not the paragraph in main. We want to make it a different font-size. If we target the p element, both paragraphs will change. We could give one of them a class or ID as well and target that, but let's use a descendant selector instead.

We can write our selector with the parent element first and then the child (or descendant next)." */
footer{
    font-size: 20px;
    margin: 20 px auto;

}

/* Example 3

"In this example, we will be adding a selector for a pseudo-class.

Pseudo-classes require some interaction by the user in order for the style to be applied. For example, with the :hover pseudo-class the styles will only be applied if the user is hovering their mouse pointer over the element.

Let's change the background and font color of our menu links when the user hovers over them. This will be a new rule, not an addition to any existing a rule." */

a:hover{
    background-color: white;
    color:steelblue;
}
/* "Now when your mouse pointer rests on top (or hovers over) the links, without the class of active, in the nav the background and text colors should change." */